<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Managerio</title>
</head>
<body>
    <div class="w3-bar w3-black">
        <a href="#" class="w3-bar-item w3-button w3-mobile w3-border">Home</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile w3-border"> </a>
        <a href="#" class="w3-bar-item w3-button w3-mobile w3-border">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-mobile w3-border">Link 3</a>
    </div>
    <div>
        <ul class="w3-ul w3-border w3-mobile">
            <li><h2>Names</h2></li>
            <li>Jill</li>
            <li>Eve</li>
            <li>Adam</li>
          </ul>
    </div>
</body>
</html>